:root {
    --color-primary: #3E2723;
    --color-secondary: #5D4037;
    --color-accent: #D4AF37;
    --color-highlight: #FFECB3;
    --color-bg: #000000;
    /* Pure black */
    --color-white: #FFFFFF;
    --color-text: #333333;
    --color-text-light: #F5F5F5;
    --font-heading: 'Playfair Display',
        serif;
    --font-body: 'Lato',
        sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-body);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

img {
    max-width: 100%;
    display: block;
}